commands:
  01_clone_theme:
    command: "git clone https://github.com/tini2n/comma.git comma"
    cwd: /var/app/current/wp-content/themes
    ignoreErrors: true
  03_update:
    command: "git pull"
    cwd: /var/app/current/wp-content/themes/comma
  02_init_composer:
    command: "php composer.phar install"
    env:
      COMPOSER_HOME: /var/app/current/wp-content/themes/comma
    cwd: /var/app/current/wp-content/themes/comma
