files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_init_theme.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/app/current/wp-content/themes
      if [ ! -d "comma" ]; then
        git clone https://github.com/tini2n/comma.git
      else
        cd comma
        git pull
        cd ..
      fi
      cd comma
      COMPOSER_HOME="/var/app/ondeck/wp-content/themes/comma" php composer.phar install

