commands:
    01-install_libjpeg:
        command: sudo yum -y install libjpeg*
    02-install_libpng:
        command: sudo yum -y install libpng-devel
    03-clone_pngquant:
        command: git clone --recursive https://github.com/pornel/pngquant.git
        cwd: /home/ec2-user
    04-make_pngquant:
        command: make
        cwd: /home/ec2-user/pngquant
    05-install_pngquant:
        command: make install
        cwd: /home/ec2-user/pngquant
