<div class="quote_right">
    Классическая музыка — лучшее, что у нас есть. Главная причина этого — ее сюжетность. Повествование.
</div>
<div class="text_left">
    <div class="article-question">
        <p>Детям классика вообще часто кажется занудным бредом. У тебя ведь наверняка были моменты, когда хотелось бросить обучение, сжечь свое фортепиано?</p>
    </div>
    <div class="article-text">
        <p>Её нанял Мэтт Ламберт, режиссер всех видео к моему альбому «Dva». Мы с ним надумали сумасшедшую концепцию, согласно которой нужно было изобразить прошлую, нынешнюю и будущую меня. Три персонажа, основанных на мне. Нам нужен был контемп – и появилась Кьяни. Она из Пуэрто-Рико, но живет в Берлине.</p>
        <p>В свое время я перенесла три серьезных операции на животе. Из-за этого я чувствую себя неуверенно, особенно как исполнительница, на сцене. Когда мы работали над видео, я осознала, что у Кьяни есть все ответы на мои скрытые вопросы о своем теле, о том, как я себя чувствую, как я хотела бы себя выражать. Я наняла ее моим личным тренером, месяца за два до концертов с альбомом «Dva».</p>
        <p>Мы очень подружились. У нас такая, знаешь, арт-дружба. Романтическая, творческая. Мы оба верим, что нас спасет только искусство. Мы всегда обсуждаем музыку и танцы, или я что-то сочиняю, а она танцует рядом, или мы выбираемся поплавать вместе и снова обсуждаем музыку и танцы – это так прекрасно. Я очень ценю эти игривые, детские отношения в жестком мире успеха и славы. Такие мы, я и Кьяни. :)</p>
    </div>
</div>