<div class="img_left">
    <img src="http://placehold.it/228x285" alt="">
    <div class="img-text">
        <b></b>
        Английская певица и электронный музыкант чешского происхождения
    </div>
</div>

<div class="text_right">
    <div class="article-question">
        <p>Недавно ты написала в блоге, что любишь общаться с фанами о музыке и культуре. Какие встречи с поклонниками оставили самое неизгладимое впечатление?</p>
    </div>
    <div class="article-text">
        <p>О, их столько! Мне вообще очень повезло с аудиторией. Мои поклонники такие разные – из разных стран, культур, контекстов. Но все они связаны единой частотой. Все они чувствительны к искусству, ищут истину в музыке. Это важно для меня, как исполнительницы, ведь на сцене я стараюсь быть собой, не играть. Суть выступления не в том, чтобы кому-то понравиться, а в том, чтобы отпустить себя.</p>
        <p>Помню маму с дочкой на концерте в Москве – девчушке было лет семь, но она была влюблена в мою музыку. Помню девушку, которая брала у меня интервью в Минске и задавала щемящие душу вопросы о независимости. Очень необычная беседа, которая повлияла на меня.</p>
        <p>Помню невероятную компанию в Польше – парень, его дядя, его дедушка, еще кто-то, вся семья. Они проехали полстраны и потратили последние деньги, купили дорогущие билеты на длительный фестиваль только для того, чтобы увидеть меня. Они говорили: «Наша бабушка любит «Drop The Other», она не может ходить, прикована к кровати, но все время слушает твою музыку».</p>
        <p>Все эти люди – незнакомцы, но каждый раз есть ощущение, что мы знаем друг друга очень давно. Я и представить не могла, что такая связь возможна, пока не начала гастролировать.</p>
    </div>
</div>  

<p></p><p></p>