<div class="tracks clearfix">
    <div class="tracks-links">
        <div class="tracks-title">треки на пробу</div>
        <ul>
            <li><a href="#">Do I Wanna Know</a></li>
            <li><a href="#">Why’d You Only Call Me When You’re High?</a></li>
            <li><a href="#">R U Mine?</a></li>
            <li><a href="#">No. 1 Party Anthem</a></li>
        </ul>
    </div>
    <div class="tracks-rating">
        <div class="tracks-title">оценка</div>
        <span>7/10</span>
    </div>

</div>