#content-container{
	float: left;
}

.sortable-row{ 
	padding: 0px; 
	background: #c4c4c4;    
}

html{ 
	background-attachment: fixed;
	background-color: rgba(255,255,255,1);
	background-image: -webkit-image-set( url('../../img/support/IDR_THEME_NTP_BACKGROUND.png') 1x);
	background-position: left -57px;
	background-repeat: repeat;
}

.form{

	background: #E0E0E0;
}

.clear{
	clear: both;
}

.row-top{
	float: left;
	width: 100%;
}

.row-bottom{
	float: left;
	width: 100%;
}

.row-elements {
	float: left;
	width: 100%;
}

.row-elements > div{
	float: left; 
}
.form .btn{
	margin-left: 20px;
	margin-bottom: 10px;
}

.block {

	float: left;
	display: block;
	margin-left: 20px;
}

.model-description{
	font-style: italic;
	padding-left: 20px;
}

.tab-pane textarea.tiny_mce {

	width: 700px;
	height: 400px;
}


.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	overflow: auto;
}
.autocomplete-suggestions :hover,
.autocomplete-suggestion :hover{
	outline: -webkit-focus-ring-color auto 5px;
	background: #c4c4c4;
}



.autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
	.autocomplete-suggestions strong {
		font-weight: normal;
		color: #3399FF;
	}