data/vendor
.idea
node/node_modules
web/theme/stylesheets
web/theme/fonts/font*
web/theme/.fontcustom-manifest.json
*.sass-cache
web/theme/images/icon-*.png
web/theme/images/icon2x-*.png
web/images/noimage_*.png
data/cache